<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mowl -->
      <package
            uri="http:///mowl.ecore"
            class="mowl.mowlPackage"
            genModel="model/mowl.genmodel"/>
   </extension>

</plugin>
